<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">


<script language="javascript" type='text/javascript'>
  function centerModal() {
    $(this).css('display', 'block');
    var $dialog = $(this).find(".modal-dialog");
    var offset = ($(window).height() - $dialog.height()) / 2;
    // Center modal vertically in window
    $dialog.css("margin-top", offset);
}

$('.modal').on('show.bs.modal', centerModal);
$(window).on("resize", function () {
    $('.modal:visible').each(centerModal);
});
</script>



<div class="container">

<div class="container">

<p id="notice"><%= notice %></p>

  <h1><%= @user.email %>의 게시물</h1>
<% if can? :follow, @user %>
  <%= link_to 'Follow', follow_user_path(@user), method: :post, :class => "btn btn-primary" %>
<% end %>
<h4>
Followees: <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal1">
              <%= @user.followees.count %>
           </button>
Followers: <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal2">
              <%= @user.followers.count %>
           </button>
</h4>
<br>

	<div class="row">
	
	  <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            <h4 class="modal-title" id="myModalLabel">Followees</h4>
          </div>
          <div class="modal-body">
            <ul>
              <% @user.followees.each do |followee| %>
                <li><%= link_to followee.email, "/users/#{followee.id}" %></li>
              <% end %>              
            </ul> 
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>  
    </div>
    
    <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            <h4 class="modal-title" id="myModalLabel">Followers</h4>
          </div>
          <div class="modal-body">
            <ul>
              <% @user.followers.each do |follower| %>
                <li><%= link_to follower.email, "/users/#{follower.id}" %></li>
              <% end %>              
            </ul>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>  
    </div>
    
		<div class="table-responsive">
      <table id="main-table" class="table exotic-table">
        <thead>
          <tr class = "text-center">
            <th>랜즈 이름</th>
            <th>지역</th>
            <th>가격</th>
            <th>Rented</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody class="text-center">
          <% @rent_posts.each do |rent_post| %>
            <tr>

              <td><%= rent_post.lens_name %></td>
              <td><%= rent_post.location %></td>
              <td><%= rent_post.price %></td>
              <% if rent_post.rented == true %>
                <td><span class="glyphicon glyphicon-ok green"></td>
              <% else %>
                <td><span class="glyphicon glyphicon-remove red"></td>
              <% end %>
              <td><%= link_to '', rent_post, :class => "glyphicon glyphicon-eye-open"  %></td>
              
              <% if rent_post.user == current_user %>
                <td><%= link_to '', edit_rent_post_path(rent_post), :class => "glyphicon glyphicon-pencil" %></td>
                <td><%= link_to '', rent_post, method: :delete, data: { confirm: ' 게시물을 삭제하시겠습니까??' }, :class => "glyphicon glyphicon-trash" %></td>
              <% else %>
                <td></td>
                <td></td>
              <% end %>
              </tr>
              <% end %>
            </tbody>
      </table>
    </div>
  </div>
<div class="container">
<% if can? :update, @user %>
    <%= link_to 'Edit User', edit_user_registration_path, :class => "btn btn-success" %>
<% end %>
</div>
</div>

<div align="center">
  <%= paginate @rent_posts %>
</div>

