<!DOCTYPE html>
<html>
  <head>
    
    
    
    <title>CRS</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1><%= link_to '홈으로 가기', root_path %></h1>
    <% if user_signed_in? %>
      <%= link_to current_user.email, current_user %>
      <%= link_to :로그아웃, destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to :로그인, new_user_session_path %>
    <% end %>
    <%= yield %>
  </body>
</html>
