<link href="https://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>

   
<%= form_with(model: rent_post, local: true, multipart: true) do |form| %>
  <div class="container" >
    <% if rent_post.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(rent_post.errors.count, "error") %> prohibited this rent_post from being saved:</h2>
  
        <ul>
        <% rent_post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    
    <div class="field">
      <%= form.hidden_field :user_id, value: current_user.id %>
    </div>
  
    <div class="field">  
      <div class="required-field-block">
        <%= form.label :lens_name %>
        <%= form.text_field :lens_name, :class => 'form-control', style: "width: 250px; margin: 0" %>
        <br>
      </div>
    </div>  
  
    <%#= form.fields_for :post_attachments do |p| %>
      <div class="field">
        <%= form.label :image %>
        <img id="img_prev" src="<%= @rent_post.image %>" > <!--대표이미지 프리뷰 -->
        <%= form.file_field :image, accept: 'image/png, image/gif, image/jpg', :multiple => true, :onchange => "readURL(this);", name: "post_attachments[image][]"%>
      </div>
    <%# end %>
    
    <div class="field">
      <div class="required-field-block">
        <br>
        <%= form.label :mount %>
        <%= form.text_field :mount, :class => 'form-control', style: "width: 250px; margin: 0 "%>
      </div>
    </div>  
  
    <div class="field">
      <div class="required-field-block">
        <br>          
        <%= form.label :zoom_lens %>
        <%= form.text_field :zoom_lens, :class => 'form-control', style: "width: 250px; margin: 0 "%>
      </div>
    </div>  
    
    <div class="field">
      <br>          
      <%= form.label :distance %>
      <p>
      <%= form.number_field :distance %>
      mm
      </p>
    </div>
  
  
    <div class="field">
      <br>          
      <%= form.label :aperture %>
      <p>
        f/
      <%= form.number_field :aperture %>
      </p>
      <br>
    </div>
    
   
    
    <div class="field">
      <div class="required-field-block">
        <%= form.label :location %>
        <%= form.text_field :location, :class => 'form-control', style: "width: 250px; margin: 0 "%>
      </div>
    </div>  
  
    <div class="field">
      <br>          
      <%= form.label :price %>
      <p>
      <%= form.number_field :price %>
      원
      </p>
    </div>
  
    <div class="field">
      <br>
      <%= form.label :is %>
      <a>
      <%= form.check_box :is %>&nbsp
      <b>I have it !</b>
      </a>
      <br>
    </div>  
    
    <div class="field">
      <br>
      <%= form.label :rented %>
      <a>
      <%= form.check_box :rented %> &nbsp
      <b>Rented !</b>
      </a>
    </div>
    
    <div class="field">
      <%= form.label :content %>
      <div class="container">
      	<div class="row">
          <%= form.text_area :content %>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="actions">&nbsp&nbsp
        <%= form.submit class: "btn btn-labeled btn-success" %> 
      </div>
    </div>  
  </div>  
<% end %>