<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

<p>
<div class="container">
  <p id="notice"><%= notice %></p>
  <form style= "font-family: 'Comic Sans MS', cursive, sans-serif; font-size: 300%">
    Rent Posts
  </form>
	<div class="row" align = "right">
	  <%= link_to '새로운 글 작성', new_rent_post_path, :class => "btn btn-default" %>
	  <div class="search">
      <%= form_tag rent_posts_path, method: :get do %>
        <%= text_field_tag :content, params[:content], :class => "form-control input-sm", style: "maxlength=64px;" %>
        <button type="submit" class="btn btn-primary btn-sm" style="position:absolute; height: 30px; right: 0;top: 5px; border-radius:1px;">검색</button>
      <% end %> 
  </div>

<br>

	<div class="row">
    </div>
    
		<div class="table-responsive">
      <table id="main-table" class="table exotic-table">
        

        <thead>
          <tr class = "text-center">
            <th>작성자</th>
            <th>랜즈이름</th>
            <th>랜즈사진</th>
            <th>지역</th>
            <th>가격</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody class="text-center">
          <% @rent_posts.each do |rent_post| %>
              <tr>
                <td><%= link_to rent_post.user.email, rent_post.user %></td>
                <td><%= rent_post.lens_name %></td>
                <% if PostAttachment.where(rent_post: rent_post.id)[0].image.length == 0 %>
                  <td><img src="https://3.bp.blogspot.com/-ZKBbW7TmQD4/U6P_DTbE2MI/AAAAAAAADjg/wdhBRyLv5e8/s1600/noimg.gif"></td>
                <% else %>
                  <td><img src="<%= PostAttachment.where(rent_post: rent_post.id)[0].image %>", width = 300, height = 200></td>
                  <!--<td><%#= image_tag("#{@post_attachment[0].image}") %></td>-->
                <% end %>
                <td><%= rent_post.location %></td>
                <% if rent_post.price == nil %>
                  <td><%= rent_post.price %></td>
                <% else %>
                  <td><%= rent_post.price %>원</td>
                <% end %>   
              
                <td><%= link_to '', rent_post, :class => "glyphicon glyphicon-eye-open " %></td>
  
                <% if rent_post.user == current_user %>
                  <td><%= link_to '', edit_rent_post_path(rent_post), :class => "glyphicon glyphicon-pencil " %></td>
                  <td><%= link_to '', rent_post, method: :delete, data: { confirm: 'Are you sure?' }, :class => "glyphicon glyphicon-trash " %></td>
                <% else %>
                  <td></td>
                  <td></td>
                <% end %>
                </tr>
              <% end %>
            </tbody>
      </table>
      
    </div>
  </div>
</div>
</p>
<div align="center">
  <%= paginate @rent_posts %>
</div>
<br>


