<p id="notice"><%= notice %></p>

<p>
  <strong>Lens name:</strong>
  <%= @rent_post.lens_name %>
</p>

<p>
  <img src="<%=@rent_post.image %>">
</p>

<p>
  <strong>Mount:</strong>
  <%= @rent_post.mount %>
</p>

<p>
  <strong>Zoom lens:</strong>
  <%= @rent_post.zoom_lens %>
</p>

<p>
  <strong>Distance:</strong>
  <%= @rent_post.distance %>
</p>

<p>
  <strong>Aperture:</strong>
  <%= @rent_post.aperture %>
</p>

<p>
  <strong>Is:</strong>
  <%= @rent_post.is %>
</p>

<p>
  <strong>Location:</strong>
  <%= @rent_post.location %>
</p>

<p>
  <strong>Price:</strong>
  <%= @rent_post.price %>
</p>

<p>
  <strong>Rented:</strong>
  <%= @rent_post.rented %>
</p>

<p>
  <strong>Content:</strong>
  <%= @rent_post.content %>
</p>


<form action='rent_comments' method='POST'>
  <strong>댓글 : </strong>
  <input type='text', name='input_rent_comment'> </input>
  <input type='submit'> </input>
</form>






<% if can? :update, @rent_post %>
  <%= link_to 'Edit', edit_rent_post_path(@rent_post) %> |
<% end %>

<%= link_to 'Back', rent_posts_path %>
